@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "flowbite";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Navbar tetap fixed */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
}

/* Pastikan sidebar tetap full height saat submenu belum dibuka */
#sidebar>div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Sidebar harus tetap memenuhi tinggi layar */
html,
body {
    min-height: 100vh;
    height: auto !important;
}

/* Mengatur agar hanya tabel yang bisa di-scroll, bukan halaman */
@media (max-width: 640px) {
    body {
        overflow-x: auto !important;
    }

    .responsive-table-container {
        display: block;
        max-width: 100%;
        overflow-x: auto !important;
        white-space: nowrap;
        padding-bottom: 10px;
    }

    .responsive-table-container table {
        width: 100%;
        min-width: 700px !important;
        max-width: 100%;
    }
}


/* Pastikan halaman utama bisa ikut bertambah tinggi */
body.expand {
    height: auto !important;
    min-height: 100vh;
}

#kependudukan-dropdown {
    max-height: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

#kependudukan-dropdown.active {
    max-height: 300px;
    /*nilai diambil dari jumlah submenu*/
    opacity: 1;
}

/*setting fontawesome agar proporsional dengan text*/
.fa-solid {
    font-size: 16px;
    width: 20px;
}

/* Saat sidebar dikompresi di layar besar */
.sidebar-collapsed {
    width: 4rem !important;
    /* Mengubah ukuran sidebar menjadi kecil */
    transition: width 300ms ease-in-out;
}

.sidebar-collapsed .sidebar-text {
    opacity: 0;
    width: 0;
    transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out;
}

